


<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Let's Shop | 


{% block titlecontent %}

{% endblock %}



    </title>

    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/font-awesome.css">
    <link rel="stylesheet" href="/static/css/templatemo-hexashop.css">
    <link rel="stylesheet" href="/static/css/owl-carousel.css">
    <link rel="stylesheet" href="/static/css/lightbox.css">
  </head>
    
    <body>
    
    
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="{% url '' %}" class="logo">
                            <img src="/static/images/logo.png">
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li class="scroll-to-section"><a href="{% url '' %}"  class="{% if request.path == '/' %} active {% endif %}">Home</a></li>
                            <li class="scroll-to-section"><a href="{% url 'overall-men-area' %}" class="{% if request.path == '/mens/' %} active {% endif %}">Men's</a></li>
                            <li class="scroll-to-section"><a href="{% url 'overall-women-area' %}" class="{% if request.path == '/womens/' %} active {% endif %}">Women's</a></li>
                            <li class="scroll-to-section"><a href="{% url 'overall-kids-area' %}" class="{% if request.path == '/kids/' %} active {% endif %}">Kid's</a></li>
                            <li class="submenu">
                                <a href="javascript:;" class="{% if request.path == '/about-us/' or request.path == '/products/' or request.path == '/contact-us/'  %} active {% endif %}">Pages</a>
                                <ul>
                                    <li><a href="{% url 'about-us' %}">About Us</a></li>
                                    <li><a href="{% url 'products' %}">Products</a></li>
                                    <li><a href="{% url 'contact-us' %}">Contact Us</a></li>
                                </ul>
                            </li>
                            <li class="scroll-to-section"><a href="{% url 'explore' %}"  class="{% if request.path == '/explore/' %} active {% endif %}">Explore</a></li>
                        </ul>        
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->







{% block childcontent %}

{% endblock %}


 



    <!-- ***** Footer Start ***** -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="first-item">
                        <div class="logo">
                            <img src="/static/images/white-logo.png" alt="hexashop ecommerce templatemo">
                        </div>
                        <ul>
                            <li><a href="#">16501 Collins Ave, Sunny Isles Beach, FL 33160, United States</a></li>
                            <li><a href="#">hexashop@company.com</a></li>
                            <li><a href="#">010-020-0340</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3">
                    <h4>Shopping &amp; Categories</h4>
                    <ul>
                        <li><a href="{% url 'overall-men-area' %}">Men’s Shopping</a></li>
                        <li><a href="{% url 'overall-women-area' %}">Women’s Shopping</a></li>
                        <li><a href="{% url 'overall-kids-area' %}">Kid's Shopping</a></li>
                    </ul>
                </div>
                <div class="col-lg-3">
                    <h4>Useful Links</h4>
                    <ul>
                        <li><a href="{% url '' %}">Homepage</a></li>
                        <li><a href="{% url 'about-us' %}">About Us</a></li>
                        <li><a href="#">Help</a></li>
                        <li><a href="{% url 'contact-us' %}">Contact Us</a></li>
                    </ul>
                </div>
                <div class="col-lg-3">
                    <h4>Help &amp; Information</h4>
                    <ul>
                        <li><a href="#">Help</a></li>
                        <li><a href="#">FAQ's</a></li>
                        <li><a href="#">Shipping</a></li>
                        <li><a href="#">Tracking ID</a></li>
                    </ul>
                </div>
                <div class="col-lg-12">
                    <div class="under-footer">
                        <p>Copyright © 2022 HexaShop Co., Ltd. All Rights Reserved. 
                        
                        <br>Design: <a href="{% url '' %}" target="_parent" title="free css templates">TemplateMo</a></p>
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-behance"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    

    <!-- jQuery -->
    <script src="/static/js/jquery-2.1.0.min.js"></script>

    <!-- Bootstrap -->
    <script src="/static/js/popper.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
 
    <!-- Plugins -->
    <script src="/static/js/owl-carousel.js"></script>
    <script src="/static/js/accordions.js"></script>
    <script src="/static/js/datepicker.js"></script>
    <script src="/static/js/scrollreveal.min.js"></script>
    <script src="/static/js/waypoints.min.js"></script>
    <script src="/static/js/jquery.counterup.min.js"></script>
    <script src="/static/js/imgfix.min.js"></script> 
    <script src="/static/js/slick.js"></script> 
    <script src="/static/js/lightbox.js"></script> 
    <script src="/static/js/isotope.js"></script> 
    
    <!-- Global Init -->
    <script src="/static/js/custom.js"></script>

    <script>

        $(function() {
            var selectedClass = "";
            $("p").click(function(){
            selectedClass = $(this).attr("data-rel");
            $("#portfolio").fadeTo(50, 0.1);
                $("#portfolio div").not("."+selectedClass).fadeOut();
            setTimeout(function() {
              $("."+selectedClass).fadeIn();
              $("#portfolio").fadeTo(50, 1);
            }, 500);
                
            });
        });

    </script>

  </body>
</html>


